<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="../style/layout.css"/>
</head>

<body>
  <main>
    <section>
    <% searchResults.forEach(book=> {%>
      <div class="all">
      <div class="imge_hand">
        <img src=<%= book.image_url %>>
      </div>
      <p class="p1">
        <%= book.title %>
        
      </p>
      <p class="p2">
        <%= book.author %>
        
      </p>
      <p class="p3">
        <%= book.description %>
        
      </p>
      <form action="/books" method="POST">
        <!-- <input type="hidden" name="_method" value="create"> -->
        <input type="hidden" name="isbn"  value = "<%= book.isbn %>" >
        <input type="hidden" name="image_url"  value = "<%= book.image_url %>">
        <input type="hidden" name="title"  value = "<%= book.title %>">
        <input type="hidden" name="author"  value = "<%= book.author %>">
        <input type="hidden" name="description"  value = "<%= book.description %>">
        <input type="submit" value = "select this book">
      <!-- <button class="button_link">select book</button> -->
      </form>
      <% }) %>
     
      </div>
    </section>
  </main>
</body>

</html>